.absolute-center {
  @include absolute-center;
}

.absolute-cover {
  @include  absolute-cover;
}

a.no-link {
  font-weight: normal;
}

.icon-container {
  display: flex;
  align-items: center;
  svg {
    margin-right: .5rem;
  }
}

.icon {
  position: relative;
  display: flex;
  pointer-events: none;
  &.absolute-center {
    position: absolute;
  }
	svg {
		width: 1em;
    height: 1em;
    fill: $black;
    transition: $animate;
	}

	&.icon-google-plus svg {
		width: 2em;
  }
}

.align-center {text-align: center}
.align-left {text-align: left}
.align-right {text-align: right}

ul.no-list,
.no-list ul {
	list-style: none;
	margin: 0;
  padding: 0;
  li:before {
    height: 0;
    width: 0;
    margin: 0;
  }
}

img {
  + .caption {
    font-size: .9rem;
    color: $dark-gray;
    margin-top: .5rem;
  }
}

.horizontal {
  display: flex;
  > * + * {
    margin-left: 1em;
  }
}

.small {
  font-size: .875rem;
}

.caps {
  text-transform: uppercase;
}

.circle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-colour;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: $white;
  text-align: center;
}

.kosa-colours {
  margin-bottom: 2rem;
  .row {
    align-items: center;
    flex-direction: column;
  }
  .image-container {
    text-align: center;
    padding: 1rem;
  } 
}

@media (min-width: 480px) {
    .kosa-colours {
      margin-bottom: 2rem;
      > *:first-child {
        flex-basis: 100%;
      }
      .row {
        margin-left: -.5rem;
        margin-right: -.5rem;
        flex-flow: row wrap;
        justify-content: center;
      }
      .image-container {
        padding: 0 .5rem 1rem .5rem;
        + .image-container{
          margin-top: 0;
        }
      } 
    }
   
}

@media (min-width: 768px) {
  img {
    &.full-width {
      max-width: none;
      width: 100%;
    }
  }
  .kosa-colours {
    margin-bottom: 0;
    .row {
      justify-content: flex-start;
    }
    .image-container {
      text-align: center;
    }
  }
}






