.container {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    &.lg { max-width: 1440px; }
    &.md { max-width: 1200px; }
    &.sm { max-width: 650px; }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

section.page-section + section.page-section {
    margin-top: 2rem;
    &.big-gap {
        margin-top: 3rem;
    }
    &.no-gap {
        margin-top: 0;
    }
}


@mixin grid($size) {
    @for $i from 1 through 12 {
        .col-#{$size}-#{$i} {
            $width: ($i / 12 ) * 100%;
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include grid(xs);

@media (min-width: 550px) {
    @include grid(sm);
    section.page-section + section.page-section {
        margin-top: 4rem;
    }
}

@media (min-width: 768px) {
    @include grid(md);
}

@media (min-width: 1024px) {
    @include grid(lg);
    section.page-section + section.page-section {
        margin-top: 6rem;
        &.small-gap {
            margin-top: 4rem;
        }
        &.big-gap {
            margin-top: 8rem;
        }
    }
}

