$white: #FFF;
$light-gray: #DBDBDB;
$dark-gray: #707070;
$black: #292929;
$clear: transparent;

$yellow: #FD9900;
$accent-colour: $yellow;

$body-font: 'Open Sans';
$heading-font: 'Pragati Narrow';

$animate: all .3s ease-out;
