#main-menu {
  height: 100%;
  ul {
    height: 100%;
    li {
      + li {
        margin-left: 0;
        margin-top: 0;
      }
      &.current-menu-item a {
        background-color: $accent-colour;
        color: $white;
      }
    } 
  }
  a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
}



@media (min-width: 1200px) {
  #main-menu {
    a {
      font-size: 1.1rem;
    }
  }
}

