.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $white;
  height: 60px;
  padding: .5rem .5rem .5rem 1rem;
  border-bottom: 1px solid $light-gray;
  z-index: 950;
  .site-logo {
    img{
      max-height: 45px;
      width: auto;
    }
  } 
}

header {
  display: none;
    .container {
      display: flex;
    }
    .site-logo {
      margin-bottom: 0;
      padding: .5rem 0;
      width: 95px;
      transition: $animate;
    }
}

main {
  &.no-banner {
    padding-top: 4rem;
  }
}



@media (min-width: 980px) {
  .fixed-header {
    display: none;
    #hamburger {
      display: none;
    }
  }
  header {
    display: block;
    .container {
      align-items: center;
      height: 50px;
    }
    .site-logo {
      align-self: flex-start;
      margin-right: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  header {
    .container {
      height: 55px;
    }
    .site-logo {
      margin-right: 1.5rem;
      width: 120px;
    }
  }
}


@media (min-width: 1200px) {
  header {
    .container {
      height: 85px;
    }
    .site-logo {
      margin-right: 2rem;
      width: auto;
    }
  }
}